.container {
  max-width: 1200px;
  padding: 0 auto;
}

header {
  overflow: hidden;
}
nav {
  list-style: none;
  float: left;
  margin-left: 20px;
}


.div1container {
  height: 400px;
  background: url(../images/background.jpg);
  background-size: cover;
  margin-top: 20px;
  margin-bottom: 20px;
}

.div1content {
  text-align: center;
  padding: 20px;
}

.div2container {
  width: 1200px;
  text-align: center;
  float: left;
}

.div2container .greenbox {
  color: white;
  text-align: center;
  float: left;
  background-color: #519251;
  margin: 0 20px;
}

.greenbox li {
  color: black;
  background-color: #F7F7F7;
  list-style-type: none;
}

.button {
  background-color: white;
}

.div2container .bluebox {
  color: white;
  text-align: center;
  float: left;
  background-color: #2C4985;
  margin: 0 20px;
}

.bluebox li {
  color: black;
  background-color: #F7F7F7;
  list-style-type: none;
}

.div2container .blackbox {
  color: white;
  text-align: center;
  float: left;
  background-color: #111111;
  margin: 0 20px;
}

.blackbox li {
  color: black;
  background-color: #F7F7F7;
  list-style-type: none;
}





/*footer {
  background-color: black;
  color: white;
}*/
