main {
  max-width: 1100px;
}

header {
  overflow: hidden;
}

nav {
  list-style: none;
  float: left;
  margin-left: 0;
}


.div1container {
  padding-top: 118px;
  height: 210px;
  background: url(../images/background.jpg);
  background-size: cover;
  margin-bottom: 20px;
}

.div1content {
  text-align: center;
  margin: 0px;
  font-size: 40px;
  color: white;
}

.div1content p {
  margin: 0;
}

.div2container {
  width: 1100px;
  text-align: center;
  float: left;
}

.div2container .all {
  margin-top: 20px;
  width: 253px;
  height: 180px;
}

.div2container .greenbox {
  color: white;
  text-align: center;
  float: left;
  background-color: #519251;
  margin-left: 155px;
}

.div2container .grid {
  width:100%;
  text-align: center;
  margin: 0;
}

.div2container .bluebox {
  color: white;
  text-align: center;
  background-color: #2C4985;
  float:left;
  padding:0;
  margin-left: 15px;
}

.bluebox .grid {
  margin: 0;

}
.div2container .blackbox {
  color: white;
  text-align: center;
  background-color: #111111;
  float: left;
  margin-left: 15px;
}

.blackbox .grid {
  margin: 0;
}

.boxtop {
  padding-top: 25px;
}

.boxmiddle {
  font-size: 75px;
}

.boxbottom {
  font-size: 15px;
  color: #8C8C8C;
}

.div2textcontainer {
    width: 1100px;
    color: black;
    background-color: #F7F7F7;
    list-style-type: none;
    text-align: center;
    float:left;
}

.greentext .all {
  float:left;
}

.greentext li{
  color: #526065;
}



}
.box1 {

}

.box2 {

}

.box3 {

}

.box4 {

}

.box {
  width: 350px;
  display: inline-block;
}

footer {
  width: 100%;
  text-align: center;
  color: white;
  background-color: #111111;
  float: left;
}
